html, body{
    height:100% !important;
    margin:0 !important;
}
body {
    background-color:#4d1200;
    overflow-x:hidden;
}
a{
    text-decoration: none;
    color:#B71C1C;
}
.content{
    margin-top:80px;
}
.content-calendar{
    margin-bottom:100px;
}
.paper-form{
    width:400px;
    padding:20px;
}
.footer {
    position: fixed;
    bottom:0;
    height: 65px;
    width:100%;
    margin-top:-65px;
    background-color: #5c190a;
    text-align: center;
    box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.5);
 }
 .footer-text{
    color:rgba(255,255,255,0.5) !important;
 }
 .footer-link{
     color: #ffc4b3 !important;
 }
 .btn-form{
     display:block !important;
     margin: 0 auto !important;
 }